html {
    scroll-behavior: smooth;
}

.prize-flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.prize-box {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-prize {
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.img-prize.one {
    background-image: url(images/prvni-cena.jpg);
}

.prize-box span {
    font-weight: bold;
}

.prize-box p{
    padding: 10px;
}

/*mtv app*/
.grow {
    display: inline-block;
    transition: transform .15s linear;
}

.grow:hover {
    transform: scale(1.05);
}

.malltvapp {
    background: #1d1d1d;
    color: #ffffff;
}

.h2-app {
    color: #ffffff;
}

div.mobil {
    margin-bottom: -50px;
    margin-top: 20px;
    text-align: center;
}

.store {
    margin-bottom: 10px;
    margin-right: 5px;
}
.mtvapp100 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.malltvapp .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
}

.mtvapp1,
.mtvapp2 {
    width: 50%;
}

.mallapp1 {
    margin-right: 20px;
}

@media screen and (max-width: 1199px) {
div.mobil {
    margin-bottom: -67px;
}
}

@media screen and (max-width: 991.5px) {
    div.mobil {
        margin-bottom: -92px;
    }
}

@media screen and (max-width: 767px) {
div.mobil {
    margin-bottom: -150px;
    }
}

@media screen and (max-width: 700px) {
div.mobil {
    margin-bottom: -50px;
   }
}

@media screen and (max-width: 525px) {
.store img {
     width: 80%;
     height: auto;
    }
}

p.platformy {
    margin-top: 20px;
}

div.plaformy {
    display: flex;
    flex-wrap: wrap;
}

div.platformy img {
    height: 30px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
} 

@media screen and (max-width: 700px) {
.mtvapp1,
.mtvapp2 {
    width: 100% !important;
}

.mtvapp1 {
    margin-right: 0;
    text-align: center;
}
.mtvapp2 {
    margin-top: 10px;
}
}

#footer {
    background-color: #3C3C3C;
    color: #fff;
    padding-bottom: 0;
}

#footer .container {
    background: url(images/m.svg) bottom left no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    height: 150px;
}

/* Embed */
.em-cont {
    max-width: 800px;
    max-height: 450px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

