html {
    scroll-behavior: smooth;
}

/*mtv app*/
.grow {
    display: inline-block;
    transition: transform .15s linear;
}

.grow:hover {
    transform: scale(1.05);
}

.malltvapp {
    background: #1d1d1d;
    color: #ffffff;
}

.h2-app {
    color: #ffffff;
}

div.mobil {
    margin-bottom: -50px;
    margin-top: 20px;
    text-align: center;
}

.store {
    margin-bottom: 10px;
    margin-right: 5px;
}
.mtvapp100 {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.malltvapp .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 50px;
}

.mtvapp1,
.mtvapp2 {
    width: 50%;
}

.mallapp1 {
    margin-right: 20px;
}

@media screen and (max-width: 1199px) {
div.mobil {
    margin-bottom: -67px;
}
}

@media screen and (max-width: 991.5px) {
    div.mobil {
        margin-bottom: -92px;
    }
}

@media screen and (max-width: 767px) {
div.mobil {
    margin-bottom: -150px;
    }
}

@media screen and (max-width: 700px) {
div.mobil {
    margin-bottom: -50px;
   }
}

@media screen and (max-width: 525px) {
.store img {
     width: 80%;
     height: auto;
    }
}

p.platformy {
    margin-top: 20px;
}

div.plaformy {
    display: flex;
    flex-wrap: wrap;
}

div.platformy img {
    height: 30px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
} 

@media screen and (max-width: 700px) {
.mtvapp1,
.mtvapp2 {
    width: 100% !important;
}

.mtvapp1 {
    margin-right: 0;
    text-align: center;
}
.mtvapp2 {
    margin-top: 10px;
}
}

#footer {
    background-color: #3C3C3C;
    color: #fff;
    padding-bottom: 0;
}

#footer .container {
    background: url(images/m.svg) bottom left no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    height: 150px;
}